/* element selector */
h1 {
    color:bisque
}
p {
    color: blue;
    font-size : 2rem;
    background-color: cadetblue;

}
/* id selector  */
#info{
    border : 2px solid black;
    padding : 10px;
}

/* class selector */
.student{
font-weight: bold;
font-style: italic;
background-color: coral;
}

/* group selector  */
h2, h3{
    color:violet;
}

/* universal selector */

/* descendant selector  */
.p p{
    color:blanchedalmond
}

/* child selector  */
.p > p{
    color: brown;
}   


/* general sibling selector */
.p ~ p{
    color: green;
}

/* adjacent sibling selector     */
.p + p{
    color: yellow;
}

/* attribute selector  */
input{
    color:blueviolet
}
input[type="password"]{
    background-color: rgb(85, 141, 122);
    color: red;
}


/* pseudo element selector (::)
 */
 button::before{
    content: "  (click me)";
    color:lightgreen;
 }

/* pseudo class selector (:)     */
button:hover{
    background-color: lightcoral;
}



.new{
    padding:1rem;
    background-color: rgb(21, 3, 3);
    margin-bottom :10px;

}
.new1{
    padding:1rem;
    background-color: rgb(227, 135, 15);
}

.btn{
    padding: 0.5rem 1rem;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    transition: 5s;
    transition-timing-function: ease-in;
    width:100px;

}


