*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#title{
    color: Blue;
    font-size: clamp(14px, 2vw, 2vw);
    background-color: beige;
    margin: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#row{
    display:flex;
    flex-wrap: wrap;
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
    overflow: hidden;

}
.image{
    width: 16.66%;
    padding:1rem;
    border: 2px solid blue;
}

@media screen and (max-width: 768px){
    .image{
        width: 33.33%;
    }
}

@media screen and (max-width: 600px){
    .image{
        width: 50%;
    }
}

@media screen and (max-width: 480px){
    .image{
        width: 100%;
    }
}